.title {
  height: 40px;
  background-color: grey;
}
.normal {
  padding: 10px;
  float: right;
  text-decoration: none;
  color: rgb(39, 38, 38);
}
.selected {
  padding: 10px;
  float: right;
  text-decoration: underline;
  color: rgb(39, 38, 38);
}
